<footer>
    <div class="footer_content">
        <div class="footer_links">
            <div class="footer_child">
                <h3>Unternehmen</h3>
                <a href="imprint.html">Impressum</a>
                <a href="privacy.html">Datenschutz</a>
                <a href="send2_kochwelt.html">Kontakt</a>
            </div>
        </div>

        <div class="social">
            <h3>Folge uns</h3>
            <a href="#"><img src="img/icons/tik-tok.png" alt=""></a>
            <a href="#"><img src="img/icons/youtube-logo.png" alt=""></a>
            <a href="#"><img src="img/icons/pinterest.png" alt=""></a>
            <a href="#"><img src="img/icons/instagram.png" alt=""></a>
            <a href="#"><img src="img/icons/facebook.png" alt=""></a>
        </div>
    </div>
    <hr>
    <div class="copyright">
        <b> © Carmen Birkle, Erwin Hörmann, Denise Siegl, Matthias Teutsch</b>
        <span>Diese Seite wurde im Rahmen eines Web-Development Projekts generiert - ohne kommerziellen Hintergrund.<br>
            This page was created in the context of a project work in the area of web development - without
            commercial intention.</span>
    </div>
</footer>