<header class="header">
    <div class="menu">
        <a href="index.html"><img class="logoHeader" src="img/logo.png"></a>

        <nav id="menuResponsiv" class="nav menuOverlay">
            <a href="index.html">Start</a>
            <a href="receiptDay.html">Rezept des Tages</a>
            <a href="send2_kochwelt.html">Kontakt</a>
            <a href="imprint.html">Impressum</a> 
            <img onclick="closeOverlay()" class="closeButton" src="img/icons/close.png">
        </nav>

        <img onclick="showOverlay()" class="navResponsiv" src="img/icons/nav.jpeg">
    </div>
    
</header>
